h1.heroGroup{
	margin-top: 20px;
}

h2{
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	box-sizing: border-box;
	line-height: 1.1;
	font-family: 'Calibre', 'Arial', sans-serif;
	color: #000000;
	font-size: 200%;
	font-weight: normal;
	padding: 8px 0 0 0;
}

/* FORM CSS */

#barnes-logo {
	margin: 40px 0 40px 0;
}

.accordion-header {
	margin-bottom: 18px;
}

.edit-form-button {
	margin-top: 6px;
}

.errors{
	height: 20px;
	font-size: .8em;
	color: #d64220;
	margin-bottom: -6px;
	margin-top: 6px;
	margin-left: 14px;
	letter-spacing: .2em
}

.btn-danger {
    color: #fff;
    background-color: #d64220 !important;
    border-color: #E63546 !important;
}

.card {
	margin-bottom: 20px;
	margin-top: 20px;
}

.powers-list{
	display: inline;
	padding-right: 8px;
	padding-right: 8px;
}

ul{
  list-style-type: circle;
}

.plus-minus-button{
	display: inline;
	width: 44px;
	height: 44px;
	margin-bottom: 5px;
}

.hero-count{
	display: inline !important;
	width: 44px !important;
	height: 44px !important;
}

.max-heros{
	font-size: .8em;
	color: #d64220;
	text-align: center;
	margin-top: 8px;
	letter-spacing: .2em
}
