h2{
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	box-sizing: border-box;
	line-height: 1.1;

	font-family: 'Calibre', 'Arial', sans-serif;
	color: #000000;
	font-size: 200%;
	font-weight: normal;
	padding: 8px 0 0 0;
}

/* FORM CSS */

#customer-form-container{
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	line-height: 1.42857143;
	font-family: 'Calibre', 'Arial', sans-serif;
	color: #000000;
	box-sizing: border-box;
	font-size: 100%;
	margin: 0 10% 0 10%;
}


form{
  transition:transform 0.5s ease-out; 
  transform:scaleY(1);
  transform-origin:top; 
}
form.visible {
	transform:scaleY(1);
}

form.invisible {
	transform:scaleY(0);
}

.form-group{
	display:inline-block;
}
.number-button-red {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	line-height: 1.42857143;
	font-family: 'Calibre', 'Arial', sans-serif;
	box-sizing: border-box;
	background-color: #d64220;
	color: #ffffff;
	font-size: 200%;
	border-radius: 3px;
	padding: 3px 15px;
	margin-right: 10px;
	float: left;
}
#first-name-group{
	width: 48%;
	margin-right: 2%;
}
#last-name-group{
	width: 48%;
	margin-left: 2%;
}
#phone-group{
	width: 48%;
	margin-right: 2%;
}
#email-group{
	width: 48%;
	margin-left: 2%;
}
#zipcode-group{
	width: 48%;
	margin-right: 52%;
}
label {
	margin-top:20px;
}
input {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	box-sizing: border-box;
	font: inherit;
	display: block;
	width: 100%;
	padding: 6px 12px;
	line-height: 1.42857143;
	color: #555555;
	background-image: none;
	border-radius: 0;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	padding-bottom: 0;
	padding-top: 12px;
	font-family: 'Calibre', 'Arial', sans-serif;
	margin: 0 0 10px 0;
	background-color: #f5f5f5;
	border: 0;
	font-size: 22px;
	height: 50px;
	font-weight: 300;
}
.errors{
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-family: 'Calibre', 'Arial', sans-serif;
	color: #d0011b;
	line-height: 1.1em;
	box-sizing: border-box;
	font-size: .8em;
	height: 20px;
	padding-bottom: 30px;
}
.continue-button{
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	box-sizing: border-box;
	font: inherit;
	margin: 0;
	overflow: visible;
	-webkit-appearance: button;
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	line-height: 1.42857143;
	border-radius: 0;
	user-select: none;
	color: #ffffff;
	background-color: #d64220;
	border-color: transparent;
	text-transform: uppercase;
	font-family: 'Helvetica Neue', sans-serif;
	padding: 15px;
	min-width: 170px;
	font-size: 100%;
	vertical-align: top;
}